@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Dancing+Script&family=Kaushan+Script&family=PT+Serif:ital,wght@1,400;1,700&family=Satisfy&display=swap');


$color0: #ffffff;
$color1: #191a1a;
$color2: #2ABDBD;
$color3: #2ECFCF;
$color4: #006eff;
$color5: #2ECFCF;
$color6: #f72414;
$color7: #07d410;
$color8: #24829e;

.centered {
  display: flex;
  justify-content: center;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  // font-family: 'Kaushan Script', sans-serif;
  // font-family: "Caveat", sans-serif; 

}

body {
  height: 100vh;
  background-color: $color0;
}

.container {
  header {
    margin-bottom: 2rem;

    ul {
      display: flex;
      justify-content: flex-end;

      li {
        font-family: "Caveat", 'cursive';
        font-size: 20px;
        font-weight: 600;
        padding: 1rem;
        margin-right: 5rem;
        list-style-type: none;

        &:hover a {
          // border-bottom: 2px solid #2ecfcf;
        }

        a {
          position: relative;
          transition: 0.5s all;
          letter-spacing: 1px;
          padding: 1rem;
          text-transform: uppercase;
          text-decoration: none;
          color: $color1;

          &:after {
            content: '';
            display: flex;
            position: absolute;
            bottom: 3px;
            width: 0;
            height: 3px;
            background-color: $color2;

            transition: width 0.2s ease-in-out;

          }

          &:hover::after {

            width: 100%;
          }
        }
      }
    }
  }

  .container-title {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    align-items: center;
    margin-bottom: 30px;
    letter-spacing: 9px;
    font-family: 'Kaushan Script', sans-serif;
  }
}

.container-months {
  @extend .centered;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'Kaushan Script', sans-serif;

}

.container-table {
  @extend .centered;
  text-align: center;
  font-family: "Caveat", sans-serif;

  table {
    border-collapse: collapse;

    thead {
      .cont-pre {
        padding: 4px;
      }

      background-color: $color2;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 25px;
      //       #2Ecfcf
      // rgb(42, 189, 189);#2ECFCF


    }

    tbody {
      font-size: 22px;
      font-weight: 600;

      td {
        .modification {
          display: none;
        }

        span {
          .fas {
            text-align: center;
            font-size: 20px;
            color: $color8;
          }

          padding: 10px 10px 10px 5px;

          &:hover {
            cursor: pointer;
            text-shadow: 1px 1px 2px $color4;
          }
        }
      }
    }

    td, th {
      border: 1px solid;
      padding: 1rem;
      margin: 0;
      position: relative;
    }
  }
}

.presence {
  display: none;
}

label {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-color: $color6;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  // overflow: hidden;
  z-index: 1;
}

label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  // background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  // box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.3s ease width, 0.2s ease height;
}

label:hover:before {
  width: 8px;
  height: 8px;
  box-shadow: inset 0 7px 10px $color0;
}

label:active {
  transform: translateY(-50%) scale(0.9);
}

.tick_mark {
  position: absolute;
  top: -9px;
  right: 0;
  left: -32px;
  width: 60px;
  height: 30px;
  margin: 0 auto;
  // margin-left: 14px;
  transform: rotateZ(-46deg);
  // background-color: rgb(255, 0, 0);
  overflow: hidden;

}

.tick_mark:before, .tick_mark:after {
  content: "";
  position: absolute;
  background-color: $color0;
  border-radius: 2px;
  opacity: 1;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.tick_mark:before {
  left: 0;
  bottom: 0;
  width: 3px;
  height: 8px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(-68px)
}

.tick_mark:after {
  left: 0;
  bottom: 0;
  width: 22%;
  height: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(78px)
}

*[class^="presen"]:checked + label, *[class^="trait"]:checked + label {
  background-color: $color7;
  box-shadow: 0 7px 10px #727272;
}

*[class^="presen"]:checked + label:before, *[class^="trait"]:checked + label:before {
  width: 0;
  height: 0;
}

*[class^="presen"]:checked + label .tick_mark:before, *[class^="trait"]:checked + label .tick_mark:before, *[class^="presen"]:checked + label .tick_mark:after, *[class^="trait"]:checked + label .tick_mark:after {
  transform: translate(30px);
  opacity: 1;
}
.container-contain-toast{
  top: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: none;
  //background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(11, 76, 95, 0.4);
}
#container-toast {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  @extend .centered;
  padding: 2.7rem;
  color: $color1;
  font-family: "Caveat", sans-serif;
  font-weight: 900;
  background-color: $color0;
  border-radius: 5px;
  border: 3px solid $color2;
  box-shadow: 1px 2px 3px $color1;
  display: none;



  .msg {
    @extend .centered;
    font-size: 28px;
    color: $color2;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px #afdddaab
  }

  .container-choix {
    display: flex;
    @extend .centered;
    margin-top: 2.7rem;

    .confirmer, .annuler {
      color: $color0;
      display: block;
      padding: 20px;
      margin: 2px 24px;
      width: 70px;
      text-align: center;
      box-shadow: 1px 2px 3px $color1;
      @extend .centered;
      background-color: $color2;
      font-size: 22px;


    }
    .confirmer{

    }
  }
}

#note {
}
.disabled-action{
  pointer-events: none;
  cursor: none;
  opacity: 0.8;
}
