@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #ecf0f1;
}

.container {
  font-family: 'Roboto', sans-serif;
}

.container header {
  margin-bottom: 2rem;
}

.container header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container header ul li {
  font-family: 'Roboto';
  font-weight: 500;
  padding: 1rem;
  margin-right: 5rem;
  list-style-type: none;
}

.container header ul li:hover a {
  border-bottom: 2px solid;
}

.container header ul li a {
  -webkit-transition: 1s all;
  transition: 1s all;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.container .container-title {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Krona One', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.container .container-permanence-all {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 0rem;
  margin: auto;
  width: 90%;
  -ms-grid-columns: 150px 150px 300px 150px 150px 150px 150px;
      grid-template-columns: 150px 150px 300px 150px 150px 150px 150px;
  white-space: nowrap;
}

.container .container-permanence-all .header-tables {
  padding: 1rem;
  border: 1px solid #a39f9f;
}

.container .container-months {
  background-color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  font-size: 35px;
  font-weight: 600;
}

.container .container-body {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.container .container-permanence-content {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 0rem;
  margin: auto;
  width: 90%;
  -ms-grid-columns: 150px 150px 300px 150px 150px 150px 150px;
      grid-template-columns: 150px 150px 300px 150px 150px 150px 150px;
  white-space: nowrap;
  padding: 10px 0;
}

.container .container-permanence-content:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.container .container-permanence-content .content-tables {
  border: 1px solid #a39f9f;
  padding: 1rem 0;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container [contenteditable='true'] {
  outline: none;
}

.container #plus {
  position: fixed;
  right: 3rem;
  bottom: 10%;
  padding: 1rem;
  color: #262626;
  font-size: 30px;
  background-color: #2ecfcf;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */